@using PharmacyOn.Models;
@model dynamic


@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a href="index.html">Home</a> <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Checkout</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <h2 class="h3 mb-3 text-black">Billing Details</h2>
                    <div class="p-3 p-lg-5 border">

                        @foreach (User user in Model.user)
                        {
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label class="text-black">First Name</label>
                                    <input type="text" class="form-control" value="@user.FirstName ">
                                </div>
                                <div class="col-md-6">
                                    <label class="text-black">Last Name</label>
                                    <input type="text" class="form-control" value="@user.LastName">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label class="text-black">Address</label>
                                    <input type="text" class="form-control" value="@user.Address">
                                </div>
                            </div>

                            <div class="form-group row mb-5">
                                <div class="col-md-6">
                                    <label class="text-black">E-mail</label>
                                    <input type="text" class="form-control" value="@user.Email">
                                </div>
                                <div class="col-md-6">
                                    <label class="text-black">Phone Number</label>
                                    <input type="text" class="form-control" value="@user.PhoneNumber">
                                </div>
                            </div>
                        }
                    </div>
                </div>


                <div class="col-md-6">
                    <form method="post" asp-action="Checkout" enctype="multipart/form-data">

                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black">Upload Prescription Photo</h2>
                                <div class="p-3 p-lg-5 border">
                                    <label for="c_code" class="text-black mb-3">You medicines need a Prescription by the doctor</label>
                                    <div class="input-group w-75">
                                        <div class="input-group-append">
                                            <input class="btn btn-primary btn-sm px-4" type="file" name="postedFiles" multiple />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-12">
                                <h2 class="h3 mb-3 text-black">Your Order</h2>
                                <div class="p-3 p-lg-5 border">
                                    <table class="table site-block-order-table mb-5">
                                        <thead>
                                        <th>Product</th>
                                        <th>Total</th>
                                        </thead>
                                        <tbody>
                                            @{ double total = 0;
                                                foreach (ShoppingCart cart in Model.shoppingCart)
                                                {
                                                    <tr>
                                                        <td>@cart.ProductName <strong class="mx-2">x</strong> @cart.Quantity</td>
                                                        <td>$@cart.TotalPrice</td>
                                                    </tr>
                                                    total += cart.TotalPrice;
                                                }
                                                <tr>
                                                    <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                                    <td class="text-black">$@total</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-black font-weight-bold"><strong>Discount</strong></td>
                                                    <td class="text-black">$0</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                                                    <td class="text-black font-weight-bold"><strong>$@total</strong></td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>

                                    <div class="border mb-3">
                                        <h3 class="h6 mb-0">
                                            <a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                                               aria-expanded="false" aria-controls="collapsebank">Pay On Hand</a>
                                        </h3>

                                        <div class="collapse" id="collapsebank">
                                            <div class="py-2 px-4">
                                                <p class="mb-0">
                                                    Make your payment directly to the delivery man when you recieve your order. Please use your Order ID as the
                                                    payment reference. Your order will be shipped once it is confirmed.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <input type="submit" value="Place Order" class="btn btn-primary btn-lg btn-block" />
                                        </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

